.main-menu{
    margin: 60px 0 0 0;
    float: right;
}

.main-menu ul {
    margin: 0;
}
.main-menu > ul > li {
    float: left;
    margin-right: 28px;
}

.main-menu li {
    white-space: nowrap;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 100;
}