html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, Tahoma, sans-serif;
    margin-bottom: 12px;
    font-weight: 600;
    font-weight: bold;
}
dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, blockquote, article, p {
    margin-bottom: 20px;
}
body {
    font: 12px/1.7 Helvetica, Arial, Tahoma, sans-serif;
    color: #666666;
    -webkit-font-smoothing: antialiased;
}


.header_bg {
    min-height: 50px;
    background: #FFFFFF;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.header_bg .logo {
    float: left;
    margin-bottom: 10px;
    margin-top: 30px;
}
.main-menu{
    margin: 60px 0 0 0;
    float: right;
}

.main-menu ul {
    margin: 0;
}
.main-menu > ul > li {
    float: left;
    margin-right: 28px;
}

.main-menu li {
    white-space: nowrap;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 100;
}
.main-menu a {
    display: block;
    position: relative;
    font-size: 14px;
    font-family: "Helvetica neue", Arial, sans-serif;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.padding3 {
    padding-top: 3px;
    font-size: 0;
    line-height: 0;
}
.padding20 {
    padding-top: 20px;
    font-size: 0;
    line-height: 0;
}
h2 {
    font-size: 22px;
    color: #453C34;
}
.col_1_3 {
    width: 300px;
    float: left;
    margin: 0 20px 0 0;
}
strong, b {
    font-weight: bold;
}
.marginLeft20 {
    margin-left: 20px;
}
a {
    color: #b70303;
    color: #74665b;
    font-weight: bold;
    font-family: Helvetica, Arial, Tahoma, sans-serif;
}
a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none;
    font-family: Helvetica, Arial, Tahoma, sans-serif;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}
::selection {
    background: #2e2823;
    color: #FFFFFF;
}
.footer_bg_bottom {
    border-top: 1px solid #453c34;
    background: #ffffff;
    padding-top: 20px;
    bottom: 0px;
}

/* Download page: */
.col_1_3 {
    width: 300px;
    float: left;
    margin: 0 20px 0 0;
}
.col_1_2.last, .col_2_3.last, .col_1_3.last, .col_1_4.last, .col_1_5.last, .col_2_5.last, .col_3_4.last, .col_3_4 .col_1_2.last {
    margin: 0;
}



/* FAQ page: */
.clear {
    /* clear: both; */
    /* display: block; */
    /* height: 0; */
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.page_info {
    margin: 10px 0 17px 0;
}
h1.bottom_line {
    border-bottom: 1px solid #d9d9d9;
    margin: 20px 0 30px 0;
    padding: 0 0 10px 0;
}

h1.regular, h2.regular, h3.regular, h4.regular, h5.regular, h6.regular {
    font-weight: 400;
}
h1 {
    font-size: 25px;
    color: #453C34;
}

.question {
    color: #b70303;
}